* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 800px;
}

.container div {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.container div div {
    /** padding: 15px; **/
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.hover-black {
    background-color: black;
}
